.features {
  margin: 0 auto;
  padding: 0;
}

.features__wrap {
  margin: 0;
  padding: 0 20px;

  @media (min-width: $desktop-width) {
    padding: 0 40px;
  }
}

.features__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: $base-black;
  margin: 0;
  padding: 52px 0 36px 0;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 42px;
    line-height: 64px;
    padding: 62px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0 80px 0;
  }

  &::before {
    content: "Преимущества";
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #7859cf;
    margin: 0 auto;
    width: 119px;
    height: 16px;
    display: block;
    position: relative;
    top: -4px;
  }
}

.features__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0 0 60px 0;

  @media (min-width: $tablet-width) {
    column-gap: 30px;
    row-gap: 50px;
    padding: 0 0 100px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 120px 0;
  }
}

.features__item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-align: center;
  color: $base-black;
  max-width: 280px;
  margin: 0;
  padding: 0;
  min-height: 142px;

  @media (min-width: $tablet-width) {
    padding: 0 0 0 72px;
    max-width: 267px;
    min-height: 94px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    max-width: 317px;
    min-height: 170px;
    margin: 0;
    padding: 0;
  }

  &--speed {
    background-image: url("../../img/features/speed.svg");
    background-repeat: no-repeat;
    background-size: 52px 56px;
    background-position: center top;

    @media (min-width: $tablet-width) {
      background-position: left top;
    }

    @media (min-width: $desktop-width) {
      background-position: center top;
    }
  }

  &--fit {
    background-image: url("../../img/features/fit.svg");
    background-repeat: no-repeat;
    background-size: 52px 56px;
    background-position: center top;

    @media (min-width: $tablet-width) {
      background-position: left top;
    }

    @media (min-width: $desktop-width) {
      background-position: center top;
    }
  }

  &--energy {
    background-image: url("../../img/features/energy.svg");
    background-repeat: no-repeat;
    background-size: 52px 56px;
    background-position: center top;

    @media (min-width: $tablet-width) {
      background-position: left top;
    }

    @media (min-width: $desktop-width) {
      background-position: center top;
    }
  }

  &--eco {
    background-image: url("../../img/features/eco.svg");
    background-repeat: no-repeat;
    background-size: 52px 56px;
    background-position: center top;

    @media (min-width: $tablet-width) {
      background-position: left top;
    }

    @media (min-width: $desktop-width) {
      background-position: center top;
    }
  }
}

.features__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
  }
}

.features__item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 10px 0 0 0;
  }
}
