.main-footer {
  margin: 0;
  padding: 0;
}

.main-footer__wrap {
  display: flex;
  flex-wrap: wrap;
}

.main-footer__logo {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 20px;
}

.main-footer__logo-wrap {
}

.main-footer__logo-icon {
}
