.main-footer {
  margin: 0 auto;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-areas: "logo  wrap" "academy academy";
    justify-content: center;
  }
}

.main-footer__wrap {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    gap: 30px;
    padding: 0 20px 30px 20px;
  }

  @media (min-width: $desktop-width) {
    grid-area: wrap;
    gap: 20px;
    padding: 49px 40px 20px 30px;
  }
}

.main-footer__logo {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 20px;

  @media (min-width: $tablet-width) {
    padding: 38px 20px 32px;
  }

  @media (min-width: $desktop-width) {
    grid-area: logo;
    max-width: 318px;
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
  }
}

.main-footer__logo-wrap {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.main-footer__logo-text {
  display: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0;
  line-height: 20px;
  color: $base-black;
  padding: 0;
  margin: 0;

  @media (min-width: $desktop-width) {
    display: inline;
    font-size: 14px;
  }
}

.main-footer__developed {
  border-top: solid 2px $base-secondary;

  @media (min-width: $tablet-width) {
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    grid-area: academy;
  }
}

.main-footer__developed-link {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $base-grey;
  text-align: center;
  padding: 20px 0 30px 0;
  fill: $base-grey;
  cursor: pointer;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding: 0 0 40px 0;
  }

  &:hover {
    color: $base-primary;
    fill: $base-primary;
  }

  &:focus {
    color: $base-primary;
    fill: $base-primary;
  }

  &:active {
    color: $primary-darker;
    fill: $primary-darker;
  }
}

.main-footer__developed-icon {
  padding: 0 0 0 4px;
}
