.form {
  margin: 0 auto;
  // max-width: 320px;
}

.form__wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $base-black;

  @media (min-width: $desktop-width) {
    grid-area: form;
    max-width: 318px;
  }
}

.form__price {
  min-width: 280px;
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    min-width: 223px;
  }

  @media (min-width: $desktop-width) {
    min-width: none;
    width: 100%;
  }
}

.form__price-title {
  margin: 0;
  padding: 0 0 30px 0;
}

.form__milk {
  max-width: 230px;
  margin: 0;
  padding: 0;
  border: none;
}

.form__milk-title {
  padding: 0;
}

.form__milk-list {
  font-weight: 400;
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__milk-item {
  margin: 0;
  padding: 20px 0 0 0;

  &--disabled {
    color: $base-grey;
    pointer-events: none;

    &:checked {
      background: radial-gradient(
        $primary-opacity,
        50%,
        $primary-opacity,
        40%,
        transparent
      );
    }
  }

  &:hover .form__milk-item-text::before {
    background: radial-gradient(
      $primary-opacity,
      50%,
      $primary-opacity,
      40%,
      transparent
    );
    border: solid 2px $base-primary;
  }

  &:hover .form__milk-item-text::before {
    background: radial-gradient(
      $primary-opacity,
      50%,
      $primary-opacity,
      40%,
      transparent
    );
    border: solid 2px $base-primary;
  }
}

.form__milk-radio {
  display: none;
}

.form__milk-radio:checked ~ .form__milk-item-text::before {
  background: radial-gradient(
    $base-primary,
    50%,
    $base-primary,
    40%,
    transparent
  );
  border: solid 2px $base-primary;
}

.form__milk-item-text {
  padding-left: 10px;
  &::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    right: 10px;
    top: 8px;
    border: solid 2px $base-grey;
    border-radius: 50%;
  }
}

.form__country {
  max-width: 230px;
  margin: 0;
  padding: 0;
  border: none;
}

.form__country-title {
  padding: 0;
}

.form__country-list {
  font-weight: 400;
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__country-item {
  margin: 0;
  padding: 20px 0 0 0;

  &:hover .form__country-flag {
    background-color: $primary-opacity;
    outline: solid 2px $base-lighter;
  }

  &--disabled {
    pointer-events: none;

    .form__country-flag {
      background-color: $light-grey;
    }
  }
}

.form__country-flag {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;
  left: 0px;
  top: 5px;
  background-color: $base-grey;
  border-radius: 12px;
  margin: 0 10px 0 0;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background-color: $white;
    border-radius: 50%;
    transition: 0.3s;
  }
}

.form__country-checkbox {
  display: none;
}

.form__country-checkbox:checked ~ .form__country-flag {
  background-color: $base-primary;
}

.form__country-checkbox:checked ~ .form__country-flag::before {
  left: 20px;
  transition: 0.3s;
}

.form__submit {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 36px 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: center;
    padding: 10px 0 44px 0;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: center;
    padding: 10px 0 44px 0;
  }
}

.form__submit-btn {
  @media (min-width: $tablet-width) {
    min-width: 149px;
  }
}
