.media {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: $base-primary;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.media__wrap {
  margin: 0;
  padding: 20px 20px 26px;
  border-top: solid 2px $base-secondary;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-top: none;
    min-width: 222px;
  }

  @media (min-width: $desktop-width) {
    min-width: 317px;
  }
}

.media__title {
  margin: 0;
  padding: 0;
}

.media__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.media__link {
  display: block;
  text-decoration: none;
  color: $base-black;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 20px 0 0 0;

  &:hover {
    color: $base-lighter;
  }

  &:focus {
    color: $base-lighter;
  }

  &:active {
    color: $primary-darker;
  }
}
