.product {
  margin: 0 auto;
  padding: 0;
}

.product__wrap {
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    grid-area: catalog;
  }
}

.product__sort {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $base-black;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
  }
}

.product__sort-form {
  display: flex;
}

.product__sort-select {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $base-primary;
  width: 155px;
  border: none;
  background-color: $grey;

  &:hover {
    background-color: $base-secondary;
    border-radius: 4px;
  }

  &:focus {
    background-color: $base-secondary;
    border-radius: 4px;
  }

  &:active {
    background-color: $base-primary;
    border-radius: 4px;
  }
}

.product__sort-title {
  padding: 0 10px 0 0;
}

.product__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 25px 0 0 0;

  @media (min-width: $tablet-width) {
    padding: 30px 0 0 0;
    gap: 30px;
  }
}

.product__item {
  display: flex;
  flex-direction: column;
  background-color: $white;
  max-width: 240px;
  margin: 0;
  padding: 20px;
  border-radius: 4px;

  &:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  }

  @media (min-width: $tablet-width) {
    max-width: 289px;
    padding: 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 257px;
  }
}

.product__link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: $base-black;
  text-decoration: none;
}

.product__img {
  display: block;
  align-self: center;
  margin: 0;
  padding: 20px 55px 20px;

  @media (min-width: $tablet-width) {
    padding: 18px 80px 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 18px 65px 24px;
  }
}

.product__title {
  font-size: 18px;
  line-height: 32px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
  }
}

.product__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 4px 0 0 0;

  @media (min-width: $tablet-width) {
    padding: 10px 0 0 0;
  }
}

.product__btn-wrap {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: $base-black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 13px 0 0 0;

  @media (min-width: $tablet-width) {
    padding: 20px 0 0 0;
  }
}
