$base-black: #333333;
$base-grey: #bdbdbd;
$white: #ffffff;
$base-primary: #7859cf;
$base-secondary: #f0ebff;

$base-lighter: #9070ec;
$primary-darker: #593cac;
$primary-opacity: rgba(120, 89, 207, 0.25);
$light-grey: #e2e2e2;

$flat-white: #f3ebe1;
$lavender-latte: #eae6fc;
$espresso: #e5e6e8;
$grey: #f8f8f8;

$tablet-width: 768px;
$desktop-width: 1440px;
